/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


/* *, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
} */

@import url("https://fonts.googleapis.com/css2?family=Kaushan Script:");

.chatbox {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 123456;
}
:root{
    --primary:#FFA500;
    --primaryGradient : #FFA500;
    --secondaryGradient: #2A2F33;
}


/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    margin-bottom: -30px;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.chatbox__button image{
    width: 10rem;
    height: 10rem;
    /* cursor: pointer; */
}
.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius:  10px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    padding: 7px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    font-family: 'Kaushan Script';
}
.chatbox__image--header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 10px; */
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--secondaryGradient);
    color: white;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 90%;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
    font-size: large;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
